broker{
       rabbitmq{
           server{
               host = 'server1'
               port = 4444
               username = 'name'
               password = 'password'
           }
           exchange{
               name = 'exchange'
               type = 'TOPIC'
               durable = false
           }
           properties{
               deliverymode = 1
               routingkey = 'key1'
           }
       }
}